* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 200vh;
  background-color: #d1fae5;
}

#books-wrapper {
  display: grid;
  margin-top: 10vh;
  width: 35vw;
  border: 1px solid black;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  margin-bottom: 1rem;
}

.books {
  display: flex;
  background-color: #34d399;
  flex-direction: column;
  height: 10rem;
  color: #ecfdf5;
  padding: 0 10px;
}

.book-title {
  font-size: clamp(1rem, 1.5rem, 2rem);
}

.book-content {
  flex: 1;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  background-color: #ecfdf5;
  border-radius: 5px;
  border: 1px solid black;
}

.remove-btn {
  margin-top: auto;
  margin-bottom: 0.2rem;
}

.read-btn {
  margin-bottom: 0.5rem;
}
